.roadmap-container > .row {
  display: grid;
  grid-template-columns: 400px 40%;
  align-items: center;
  gap: 100px;
}
.roadmap-container > .row .col p {
  font-family: "Comfortaa", cursive;
  padding: 15px 0;
  line-height: 25px;
}
.roadmap-container > .row .col {
  z-index: -1;
}
.roadmap-container > .row .col .col-title {
  font-size: 35px;
  z-index: 0;
  position: relative;
}
.roadmap-container > .row .col .col-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: -30px;
  background-color: #00f0ff;
  width: 50px;
  height: 40px;
}

/* media query */
@media screen and (max-width: 1080px) {
  .roadmap-container > .row {
    grid-template-columns: repeat(1, 1fr);
  }
  .roadmap-container > .row .col .col-title::after {
    right: 0px;
  }
}
