.degenTown-container > .row {
  font-family: "Comfortaa", cursive;
  display: grid;
  grid-template-columns: 400px auto;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.degenTown-container > .row .col .col-title {
  max-width: 300px;
  font-family: Luckiest Guy, cursive;
  font-size: 35px;
  position: relative;
  z-index: 1;
}
.degenTown-container > .row .col > .col-title::after {
  position: absolute;
  content: "";
  background-color: #00f0ff;
  width: 30px;
  height: 100%;
  top: 0;
  left: 100px;
  z-index: -1;
}
.degenTown-container > .row .col p {
  line-height: 20px;
}
.degenTown-container > .row .col p {
  padding: 15px 0;
}
.col img {
  width: 90%;
}

@media screen and (max-width: 1080px) {
  .degenTown-container > .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .degenTown-container > .row .col .col-title {
    white-space: nowrap;
  }
  .degenTown-container > .row .col > .col-title::after {
    left: 380px;
  }
}
